In [1]:
# python is a high programming language 
# It was devloped by guido van rossum and was relesed in 1991.
# python is free and open source langugage.
# python is very expressive language means easy to learn and easy to understand.
# python is robust langugage and interpreted language.
# python is object oriented language
# python is used to create web application,game devolpment and desktop applications.

In [3]:
# identifires are known as particular names
a = 'lili'
print(a)

lili

In [5]:
# keywords is a module
# more than 35 keywords in python
import keyword
keyword.kwlist
len(keyword.kwlist)

35

In [27]:
# data types
# the type of value of a variable is known as data types
a = 10
print(a)
print(type(a))
b = 10.5
print(b)
print(type(b))
c = 10+5j
print(c)
print(type(c))
d = '10'
print(d)
print(type(d))
e = (1,2,3,4)
print(e)
print(type(e))
f = [11,22,33]
print(f)
print(type(f))
g = {10}
print(g)
print(type(g))
h = {a:10,b:20}
print(h)
print(type(h))
i = True
print(i)
print(type(i))
j = bytes(1)
print(type(j))
k = {1,2,3,4}
print(k)
print(type(k))
l = frozenset(k)
print(l)
print(type(l))
m = range(10)
print(m)
print(type(m))
n = bytearray([1,2,3])
print(n)
print(type(n))
o = bytes([1,2,3,4])
print(o)
print(type(o))

10
<class 'int'>
10.5
<class 'float'>
(10+5j)
<class 'complex'>
10
<class 'str'>
(1, 2, 3, 4)
<class 'tuple'>
[11, 22, 33]
<class 'list'>
{10}
<class 'set'>
{10: 10, 10.5: 20}
<class 'dict'>
True
<class 'bool'>
<class 'bytes'>
{1, 2, 3, 4}
<class 'set'>
frozenset({1, 2, 3, 4})
<class 'frozenset'>
range(0, 10)
<class 'range'>
bytearray(b'\x01\x02\x03')
<class 'bytearray'>
b'\x01\x02\x03\x04'
<class 'bytes'>

In [30]:
# typecasting
# conversion one data type to another data type is called typecasting.
a = 10
print(a)
print(type(a))
b = float(a)
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

In [31]:
a = 10.5
print(a)
print(type(a))
b = int(a)
print(b)
print(type(b))

10.5
<class 'float'>
10
<class 'int'>

In [32]:
a = "10"
print(a)
print(type(a))
b = int(a)
print(type(b))

10
<class 'str'>
<class 'int'>

In [33]:
a = 10
print(a)
print(type(a))
b = str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

In [35]:
a = '10'
print(a)
print(type(a))
b = float(a)
print(b)
print(type(b))

10
<class 'str'>
10.0
<class 'float'>

In [36]:
a = 10
print(a)
print(type(a))
b = complex(a)
print(b)
print(type(b))

10
<class 'int'>
(10+0j)
<class 'complex'>

In [38]:
a = "10+7j"
print(a)
print(type(a))
b = complex(a)
print(b.imag)
print(b.real)

10+7j
<class 'str'>
7.0
10.0

In [39]:
a = complex(4,5)
print(a)
print(a.imag)
print(a.real)

(4+5j)
5.0
4.0

In [43]:
print(float(True))
print(float(False))
print(int(True))
print(int(False))
print(complex(True))
print(complex(False))
print(bool(True))
print(bool(False))

1.0
0.0
1
0
(1+0j)
0j
True
False

In [44]:
var = str(True)
print(var)
print(type(var))

True
<class 'str'>

In [47]:
a = bool(10.5)
print(a)
b = bool('')
print(b)
c = bool(10)
print(c)

True
False
True

In [2]:
# string
# string is a sequence of characters
# string is a positive and negative indexes
a = 'hello mini and hello baby girl'
print(a)
print(type(a))
print(a[0:3])
print(a[-5:-2])
a*5
print(len(a))

hello mini and hello baby girl
<class 'str'>
hel
 gi
30

In [4]:
# immutability
# immutability means not changeable
a = 100
b = 111
print(id(a))
print(id(b))
print(a is b)

1800576437584
1800576437936
False

In [6]:
a = 10.5
b = 10.5
print(id(a))
print(id(b))
print(a is not b)

1800654142480
1800654142096
True

In [9]:
a = 10
b =a
c = 103
print(id(a))
print(id(b))
print(id(c))
print(c is b)
print(a is b)

1800576434704
1800576434704
1800576437680
False
True

In [11]:
# bytes
# bytes are stored in value 0 to 256
# bytes are immutable
# bytes are internal function
a = [1,2,3,4]
b = bytes(a)
print(b)
for i in b:
    print(i)

b'\x01\x02\x03\x04'
1
2
3
4

In [12]:
b[2]

3

In [14]:
a = bytes([1,2,3,45])
print(a)
for i in a:
    print(i)

b'\x01\x02\x03-'
1
2
3
45

In [19]:
# bytearray 
# bytearray stored value 0 to 256
#  the bytearray is similar to bytes
# bytearray are mutuable
a = bytearray([1,2,3,4,5])
print(a)
for i in a:
    print(i)
print(a)
a[0] = 10
print(a)
for i in a:
    print(i)

bytearray(b'\x01\x02\x03\x04\x05')
1
2
3
4
5
bytearray(b'\x01\x02\x03\x04\x05')
bytearray(b'\n\x02\x03\x04\x05')
10
2
3
4
5

In [41]:
# list
# list can store mutiple value and mutiple item
# list create square bracket
# list are mutable,chaneable and oredered.
a = [1,2,3,4,5,6,7,8]
print(a)
print(type(a))
print(a[0])
print(a[0:3])
print(a[-3:-1])
print(a.append(9))
print(a)
print(a.remove(9))
print(a)
b = a.copy()
print(b)
b.extend([10])
print(b)
b.extend([11])
print(b)
print(b.index(3))
print(b.index(5))
b.pop()
print(b)
b.insert(2,20)
print(b)
b.reverse()
print(b)
b.sort(reverse= False)
print(b)
b.clear()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
<class 'list'>
1
[1, 2, 3]
[6, 7]
None
[1, 2, 3, 4, 5, 6, 7, 8, 9]
None
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 10, 11]
2
4
[1, 2, 3, 4, 5, 6, 7, 8, 10]
[1, 2, 20, 3, 4, 5, 6, 7, 8, 10]
[10, 8, 7, 6, 5, 4, 3, 20, 2, 1]
[1, 2, 3, 4, 5, 6, 7, 8, 10, 20]
[]

In [47]:
# tuple 
# tuple is ordered and unchangeable
# tuple is immutable
# tuple is create paranthesis
# tuple are not growable
# tuple are not modify
tup = (1,2,3,4,5,6,7,8,9)
print(tup)
print(type(tup))
tup[0]
tup[0:4]
len(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

9

In [59]:
tup = ('a','b','c','d','e')
print(tup)
print(type(tup))
l = list(tup)
print(l)
l.append('f')
print(l)
l.remove('f')
print(l)
l.extend(['g'])
print(l)
print(l.index('b'))
l.pop()
print(l)
l.reverse()
print(l)
l.sort(reverse = False)
l.clear()

('a', 'b', 'c', 'd', 'e')
<class 'tuple'>
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'f']
['a', 'b', 'c', 'd', 'e']
['a', 'b', 'c', 'd', 'e', 'g']
1
['a', 'b', 'c', 'd', 'e']
['e', 'd', 'c', 'b', 'a']

In [61]:
# set 
# set is unordered colletions of elements
# set is create curly brases
# set is mutable
# set is  growable
# set is modify
# index concept are not applicable
a = {1,2,3,4,5,6,7,8,9}
print(a)
print(type(a))
len(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

9

In [69]:
a = set(['a','b','c','d','e','f','g'])
print(a)
print(type(a))
print(a)
'a' in a
print(a)
a.add('j')
print(a)
a.remove('c')
print(a)
a.pop()
print(a)
a.discard('e')
print(a)

{'f', 'd', 'g', 'a', 'b', 'c', 'e'}
<class 'set'>
{'f', 'd', 'g', 'a', 'b', 'c', 'e'}
{'f', 'd', 'g', 'a', 'b', 'c', 'e'}
{'f', 'd', 'g', 'a', 'b', 'c', 'e', 'j'}
{'f', 'd', 'g', 'a', 'b', 'e', 'j'}
{'d', 'g', 'a', 'b', 'e', 'j'}
{'d', 'g', 'a', 'b', 'j'}

In [73]:
a = {1,2,3,4}
b = {2,3,4,5}
print(a)
print(b)
c = a.union(b)
print(c)
c = a.intersection(b)
print(c)

{1, 2, 3, 4}
{2, 3, 4, 5}
{1, 2, 3, 4, 5}
{2, 3, 4}

In [85]:
# dictionary
# dictinary are immutable
# dictionary stored key-value pair
# dictionary are chanheable unoredered and does not duplicates
a ={'a':10,
    'b':20,
    'c':30,
    'd': 40}
print(a)
print(a['a'])
print(a['b'])
print(a.values())
print(a.keys())
print(a)
a['e']= 50
print(a)
print(a.items())

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
10
20
dict_values([10, 20, 30, 40])
dict_keys(['a', 'b', 'c', 'd'])
{'a': 10, 'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40), ('e', 50)])

In [90]:
# frozenset 
# frozenset is immutable
# frozenset is keywords
a = {1,2,3,4,5,6}
print(a)
print(type(a))
b = frozenset(a)
print(b)

{1, 2, 3, 4, 5, 6}
<class 'set'>
frozenset({1, 2, 3, 4, 5, 6})

In [91]:
# operators means these are the symbol
# operators performs some opertions
# operands can be values.
# operands can be variable.

In [98]:
# arithmetic opertors
a = 10
b = 20
c = a+b
print(c)
a = 20
b = 30
c = a-b
print(c)
a = 10
b = 20
c = a*b
print(c)
a = 100
b = 20
c = a/b
print(c)
a = 12
b = 23
c = a**b
print(c)
a= 123
b = 34
c = a//b
print(c)
a = 100
b = 20
c = a%b
print(c)

30
-10
200
5.0
6624737266949237011120128
3
0

In [106]:
# assignment opertors
# assignment opertors are used to assigning values to the operands.
a = 10
a +=10
print(a)
a -=1
print(a)
a *=10
print(a)
a /=10
print(a)
a **=10
print(a)
a //=10
print(a)
a %=10
print(a)

20
19
190
19.0
6131066257801.0
613106625780.0
0.0

In [116]:
# comparison opertors
# comparison opertors are compare the indentifers ,compare the value
a = 10
b = 20
c = 30
print(a==b)
print(b!=c)
print(c>b)
print(b<a)
print(c>=b)
print(b<=b)

False
True
True
False
True
True

In [117]:
# logical opertors
# these are three operotrs or,not,and
# AND opertors - return true if both condition are true
# OR opertors - return true if one condtion is true.
# NOT opertors - return the result if the result is true

In [121]:
a = 5
print(a<10)and(a<5)
print(a>2)or(a<50)
print(not(a<5))

True
True
True

In [122]:
# identify opertors
# in identify opertors are used to compare the memory location of two objects
# is - return true if both variables are the same object
# is not - return true if both variables are not same object

In [123]:
a = 10
b = 20
print(id(a))
print(id(b))
a is b

1800576434704
1800576435024

False

In [124]:
a = 10
b = 20
print(id(a))
print(id(b))
b is not a

1800576434704
1800576435024

True

In [125]:
# membership opertors
# in- return true if a sequnce with specified value is present in the object
# not in - return true if a sequnce with specified value is not present in the object

In [129]:
a = (1,2,3,4,5,6)
print(1 in a)
print(2 not in a)
b = {11,22,33,44}
print(22 in b)

True
False
True

In [130]:
# bitwise opertors
# bitwise opertors are the opertors which are going to operat of bits

In [134]:
a = 3
b = 3
z =a&b
print(z)
a = 23
b = 345
c = a|b
print(c)
a = 23
b = 34
c = a^b
print(c)
a = 12
print(~(a))

3
351
53
-13

In [135]:
a = 12
b =a<<5
print(b)

384

In [136]:
a = 123
b = a>>6
print(b)

1

In [137]:
# conditional statements 
# condiional statements in python are used to excute a specific block of code based on the truth value of a condition
# if: Checks if a condition is true.
# elif (short for "else if"): Adds more conditions to check if the first one is false.
# else: Runs only if the condition is false.

In [139]:
a = 10
if a<5:
    print('true')
else:
    print('false')

false

In [140]:
age = 20

if age >= 18:
    print("You are an adult")
else:
    print("You are not an adult")

You are an adult

In [141]:
a = 10
b = 20
if a>b:
    print("yes")
elif a==b:
    print('right')
else:
    print('no')

no

In [142]:
a = 10
b = 20
if a==b: print('yes')

In [145]:
a = 10
b = 20
print('no') if a==b else  print('yes')

yes

In [146]:
a = 10
b = 10
print('yes') if a!=b else print('no')

no

In [149]:
a = 10
b = 20
if a<b:
    pass
else:
    print('yes')

In [150]:
# looping statement
# looping statement are fundamentals in python for repitetive execution of code.
# while loop - while loop is looping statement 
# while loop are execute the group of statements
# break statements - break statement is used to control the sequence of the loop.
# break statements is used to break execution of the loop
# continue statements - continue statements is used to skip the current process of the loop
# For loop - for loop is looping statement
# for loop is loop or itertes over a list,tuple,set,dict and string.
# renge function is use returns a sequence of numbers.
# pass statement is harmless, non executing statement that helps with code structures and organziation

In [154]:
a = 10
while a<=100:
    print(a)
    a = a+1

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [1]:
a = 10
while a>1:
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2

In [2]:
a = 10
while a>1:
    print(a)
    if a==5:
        break
    a = a-1

10
9
8
7
6
5

In [1]:
a =1
while a<10:
    if a==5:
        a=a+1
        continue
    print(a)
    a = a+1

1
2
3
4
6
7
8
9

In [2]:
a = 0
while a<10:
    if a==5:
        a = a+1
        continue
    print(a)
    a = a+1

0
1
2
3
4
6
7
8
9

In [3]:
a = 0
while a<10:
    if a==7:
        a = a+1
        continue
    print(a)
    a = a+1

0
1
2
3
4
5
6
8
9

In [5]:
a = 0
while a<10:
    if a==9:
        a = a+1
        continue
    print(a)
    a = a+1
else:
    print('yes')

0
1
2
3
4
5
6
7
8
yes

In [2]:
a = [1,2,3,4,5,6]
print(a)
b = 0
while b<len(a):
    print(a[b])
    b =b+1

[1, 2, 3, 4, 5, 6]
1
2
3
4
5
6

In [3]:
a = (11,22,33,44)
print(a)
b = 1
while b<len(a):
    print(a[b])
    b = b+1

(11, 22, 33, 44)
22
33
44

In [5]:
a = [1,2,3,4,5,6,7,8]
print(a)
for i in a:
    print(i)
else:
    print('yes')

[1, 2, 3, 4, 5, 6, 7, 8]
1
2
3
4
5
6
7
8
yes

In [6]:
a = (11,22,33,44,55,66)
print(a)
for i in a:
    if i == 22:
        break
    print(i)

(11, 22, 33, 44, 55, 66)
11

In [7]:
a = ('a','b','c','d','e')
print(a)
for i in a:
    if i == 'c':
        continue
    print(i)

('a', 'b', 'c', 'd', 'e')
a
b
d
e

In [13]:
a = {'a':10,
     'b':20,
     'c':30,
     'd':40}
print(a)
for i in a:
    print(i)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
a
b
c
d

In [21]:
a = {
    'name': 'tes',
    'sub': 'cs',
    'job': 'data'
}
print(a)
for i in a:
    print(i)
print('value')
for j in a:
    print(a[j])
for c in a.keys():
    print(c)
for d in a.values():
    print(d)
for c,d in a.items():
    print(c,":", d)

{'name': 'tes', 'sub': 'cs', 'job': 'data'}
name
sub
job
value
tes
cs
data
name
sub
job
tes
cs
data
name : tes
sub : cs
job : data

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
for i in range(1,10,5):
    print(i)

1
6

In [25]:
for i in range(1,50,10):
    print(i)
else:
    print('yes')

1
11
21
31
41
yes

In [26]:
a = int(input('enter the number'))
b = int(input('enter the number'))
c = a+b
print(c)

enter the number120
enter the number34
154

In [27]:
# function
# function is complate particular task
# function is a block of code which perform particular task

In [28]:
def display():
    print('yes')
display()

yes

In [29]:
def abc():
    print('hello')
print('no')
display()
print('hii')

no
yes
hii

In [31]:
def display(a):
    print(a)
value = 100
display(value)

100

In [34]:
def ab(a,b):
    print(a)
    print(b)
x = 10
y = 20
display(x)
display(y)

10
20

In [35]:
def ab(a,b):
    print(a+b)
a = 100
b = 200
ab(a,b)

300

In [36]:
def mul(a,b):
    res = a*b
    return res
x = 10
y = 20
r = mul(x,y)
print(r)

200

In [37]:
def ab(*letter):
    print(letter)
    for i in letter:
        print(i)
ab('a','b','c','e','d','f')

('a', 'b', 'c', 'e', 'd', 'f')
a
b
c
e
d
f

In [ ]:
# lambda function 
# lambda function is one line function 
# lambda function  is small and ananmous function
# lambda function can take any number of arguments and parameter

In [40]:
a =  lambda a,b: a+b
a(10,45)

55

In [41]:
a = lambda a,b,c:a*b*c
a(22,33,44)

31944

In [42]:
def myfun(n):
    print(n)
    return(lambda a:a*b)
fun = myfun(100)
fun(10)

100

2000

In [44]:
def fun(a):
    print(a)
    return(lambda a:a*b)
myfun = fun(10)
myfun(100)

10

20000

In [1]:
# class 
# in python class is blueprint for creating objects and object is an instance of a class

In [2]:
class ab:
    name = 'lili'
a = ab()
print(a.name)

lili

In [3]:
class stud:
    name = 'tes'
    sub = 'cs'
s = stud()
print(s.name)
print(s.sub)

tes
cs

In [4]:
class em:
    def __init__(self,name,sub,mob):
        self.name = name
        self.sub = sub
        self.mob = mob
e=em('lili','cs',9698786754)
print(e.name)
print(e.sub)
print(e.mob)

lili
cs
9698786754

In [5]:
class stud:
    def __init__(self,fnm,lnm):
        self.fname = fnm
        self.lname = lnm
    def display(self):
        print(self.fname)
        print(self.lname)
s = stud('lili','teso')
s.display()

lili
teso

In [8]:
class stud:
    def __init__(self,fnm,lnm):
        self.fname = fnm
        self.lname = lnm
    def display(self):
        print(self.fname)
        print(self.lname)
    def change(self,fnm):
        self.fname = fnm
        self.display()
s = stud('tena','tolo')
s.display()
s1 = 'kuku'
s.change(s1)

tena
tolo
kuku
tolo

In [ ]:
# inheritance
# inheritance can define new class(child class) that takes an attributes and methods from an existing class(parent class).

In [9]:
class a:
    def __init__(self,fnm,lnm):
        self.fname = fnm
        self.lname = lnm
    def display(self):
        print(self.fname)
        print(self.lname)
class b(a):
    pass
ab = a('lili','tina')
ab.display()

lili
tina

In [12]:
class employ:
    def __init__(self,sub,fnm,rn):
        self.sub = sub
        self.fnm = fnm
        self.rn = rn
    def display(self):
        print(self.sub)
        print(self.fnm)
        print(self.rn)
class stud(employ):
    def __init__(self,sub,fnm,rn,mob):
        employ.__init__(self,sub,fnm,rn)
        self.mob = mob
    def display(self):
        print(self.sub)
        print(self.fnm)
        print(self.rn)
        print(self.mob)
s = stud('lili','cs',23,9878675643)
s.display()

lili
cs
23
9878675643

In [ ]:
# itertor 
# itertor are used to traverse the iterables like list, tuple, set, dict,and string
# itertor has countable number of values
# it has two methods next method and iter methods next methods used to next elements and iter method is used access elements one by one and traverse through a 
# sequence like list,tuple,string,set,dict

In [13]:
a = [1,2,3,4,5]
print(type(a))
itr = iter(a)
print(next(itr))
print(next(itr))
for i in itr:
    print(i)

<class 'list'>
1
2
3
4
5

In [15]:
a = {11,22,33,44}
print(a)
print(type(a))
itr = iter(a)
print(next(itr))
print(next(itr))
ab = 'hello world'
print(ab)
print(type(ab))
itr = iter(ab)
print(next(itr))
print(next(itr))

{33, 11, 44, 22}
<class 'set'>
33
11
hello world
<class 'str'>
h
e

In [16]:
a = {'a':10,
     'b': 20,
    'c': 30,
    'd':40}
print(a)
print(type(a))
itr = iter(a)
print(next(itr))
print(next(itr))

{'a': 10, 'b': 20, 'c': 30, 'd': 40}
<class 'dict'>
a
b

In [1]:
class counter:
    def __iter__(self):
        self.a =1
        return self
    def __next__(self):
        b = self.a
        self.a+=1
        if b==20:
            raise StopIteration
        return b
count = counter()
itr = iter(count)
for b in itr:
    print(b)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
class abc:
    def __iter__(self):
        self.a =1
        return self
    def __next__(self):
        b = self.a
        self.a+=1
        if b==21:
            raise StopIteration
        return b
a = abc()
itr = iter(a)
for b in itr:
    print(b)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# scope of variable 
# scope means access variable
# local scope (inside a funtion)- variables defined inside a function and accessible only within that function 
# global scope(outside a function) - variables defined outside a function and accessible from anywhere in the code.

In [4]:
def add():
    a = 10
    b = 20
    print(a)
    return a+b
add()

10

30

In [5]:
a = 100
b = 200
def add():
    a = 10
    b = 20
    print(a)
    print(b)
    return a+b
add()
print(a)
print(b)

10
20
100
200

In [6]:
a = 234
b = 123
def mul():
    a = 230
    b = 345
    print(a)
    print(b)
    return a*b
mul()
print(a)
print(b)

230
345
234
123

In [ ]:
# modules 
# modules is a set of functions which is used to devlop an application

In [ ]:
# datetime 
# datetime is combination between date and times

In [10]:
import datetime
print(datetime.MINYEAR)
print(datetime.MAXYEAR)
a = datetime.datetime.now()
print(a.year)
print(a.month)
print(a.day)

1
9999
2024
11
11

In [19]:
a = datetime.datetime.now()
print(a.strftime("%A"))
print(a.strftime("%D"))
print(a.strftime("%H"))
print(a.strftime("%Y"))
print(a.strftime("%y"))
print(a.strftime("%M"))
print(a.strftime("%a"))
print(a.strftime("%d"))

Monday
11/11/24
18
2024
24
11
Mon
11

In [27]:
a = datetime.datetime.now()
print(a.strftime("%b"))
print(a.strftime('%w'))
print(a.strftime('%Z'))

Nov
1

In [ ]:
# math function
# math module is a python module
# provides standard mathamatical constants and functions 
# math functions using minimum, maximum, absolute

In [32]:
a = min(12,3,4,5)
print(a)
b = max(122,445.6,5)
print(b)
c = abs(12)
print(c)
d = abs(-12)
print(d)
e = pow(20,3)
print(e)
f = pow(345,6)
print(f)

3
445.6
12
12
8000
1686221298140625

In [33]:
import math as m

In [36]:
a = m.sqrt(23)
print(a)
b = m.floor(123.456)
print(b)
c = m.ceil(123.43)
print(c)

4.795831523312719
123
124

In [39]:
e_no = m.e
print(e_no)
f = m.pi
print(f)
g = m.nan
print(g)

2.718281828459045
3.141592653589793
nan

In [ ]:
# json
#json means java script object notation 
# json is a string text format
#json is language indepedent
# json is lightweight data interchange format
# json is self describing and easy to understand

In [40]:
import json

In [42]:
e ={
    'name':'lili',
    'sub': 'cs',
    'sal': 50000
    } 
print(type(e))
a = json.dumps(e)
print(a)

<class 'dict'>
{"name": "lili", "sub": "cs", "sal": 50000}

In [43]:
a = (10,20,'lili',34)
print(type(a))
b = json.dumps(a)
print(b)

<class 'tuple'>
[10, 20, "lili", 34]

In [44]:
a = '{"name":"lili","city":"delhi","lname":"teins"}'
print(type(a))
b = json.loads(a)
print(b)
print(type(b))

<class 'str'>
{'name': 'lili', 'city': 'delhi', 'lname': 'teins'}
<class 'dict'>

In [52]:
a = {
    'name':'lili',
    'age': 21,
    'veg': True,
    'food': None,
    'cars': [
        {'model': 'BTM','mpg': 27.5},
        {'model': 'tata','mpg':21.1},
    ]

}
print(json.dumps(a,indent=4))
print(json.dumps(a,indent =4,separators=('-','=')))
print(json.dumps(a,indent =4,separators=('-','='),sort_keys=True))

{
    "name": "lili",
    "age": 21,
    "veg": true,
    "food": null,
    "cars": [
        {
            "model": "BTM",
            "mpg": 27.5
        },
        {
            "model": "tata",
            "mpg": 21.1
        }
    ]
}
{
    "name"="lili"-
    "age"=21-
    "veg"=true-
    "food"=null-
    "cars"=[
        {
            "model"="BTM"-
            "mpg"=27.5
        }-
        {
            "model"="tata"-
            "mpg"=21.1
        }
    ]
}
{
    "age"=21-
    "cars"=[
        {
            "model"="BTM"-
            "mpg"=27.5
        }-
        {
            "model"="tata"-
            "mpg"=21.1
        }
    ]-
    "food"=null-
    "name"="lili"-
    "veg"=true
}

In [47]:
a = {
    'name': 'mili',
    'lname': 'titi',
    'age': 24,
    'food': False,
    'salary': 50000,
    'rainbow':[
        {'color':'red','size': 30},
        {'color': 'black','size' :25},
        {'color': 'white', 'size' :26},
    ]
}
b = a['rainbow']
print(b)
print(json.dumps(b, indent =4))
print(json.dumps(b, indent = 4, separators = ("-","=")))
print(json.dumps(b, indent = 4, separators = ("-","="),sort_keys = True))

[{'color': 'red', 'size': 30}, {'color': 'black', 'size': 25}, {'color': 'white', 'size': 26}]
[
    {
        "color": "red",
        "size": 30
    },
    {
        "color": "black",
        "size": 25
    },
    {
        "color": "white",
        "size": 26
    }
]
[
    {
        "color"="red"-
        "size"=30
    }-
    {
        "color"="black"-
        "size"=25
    }-
    {
        "color"="white"-
        "size"=26
    }
]
[
    {
        "color"="red"-
        "size"=30
    }-
    {
        "color"="black"-
        "size"=25
    }-
    {
        "color"="white"-
        "size"=26
    }
]

In [ ]:
# regular expression
# re module means regulare expressions
# re module to find the pattern or string
# regex is a powerful tool for text processing,mastering.

In [57]:
import re
a = 'hello i am lili and i am 23 year old'
b = re.search('hello.*old$',a)
if b:
    print('match')
else:
    print('no match')
print(b.start())
print(b.span())
print(b.end())
print(b.string)
print(b.group())

match
0
(0, 36)
36
hello i am lili and i am 23 year old
hello i am lili and i am 23 year old

In [70]:
ab = 'hey good morning and i am going to cafe'
a = re.findall('r',ab)
print(a)
a = re.search('/hey',ab)
print(a)
a = re.split('\s',ab,2)
print(a)
a = re.split('\s',ab,3)
print(a)
a = re.sub('\s','==',ab,2)
print(a)
a = re.sub('\s','**',ab,3)
print(a)

['r']
None
['hey', 'good', 'morning and i am going to cafe']
['hey', 'good', 'morning', 'and i am going to cafe']
hey==good==morning and i am going to cafe
hey**good**morning**and i am going to cafe

In [71]:
a = 'hello world le'
b = re.search('hello.*le$',a)
print(b)
if b:
    print('match')
else:
    print('no match')
print(b.span())
print(b.start())
print(b.end())
print(b.string)
print(b.group())

<re.Match object; span=(0, 14), match='hello world le'>
match
(0, 14)
0
14
hello world le
hello world le

In [ ]:
# exception handling 
# Exception handling is a powerful way to catch and manage errors in Python,
# allowing you to create programs that are more reliable and user-friendly.
# Exception handling helps manage errors in your code without crashing the whole program.
# Try - code block where exceptions might occur.
# except - code block that handlies exceptions.
# finally - code block executes regardless of exceptions.
# raise - manually raise an exception.
# else - code block executes if no exception occurs.

In [73]:
while True:
    try:
        a = int(input('enter the number'))
        break
    except ValueError:
            
        print('no valid number')

enter the number12

In [74]:
a = 10
try:
    print(a)
except NameError:
    print('variable')
except:
    print('some error')

10

In [75]:
try:
    print('hii')
except:
    print('variable')
else:
    print('no varible')

hii
no varible

In [77]:
try:
    a = [2,3,4,5]
    for i in a:
        print(a[i])
except:
    print('match')
else:
    print('no match')
finally:
    print('all right')

4
5
match
all right

In [79]:
try:
    print(h)
except:
    print('somtime all right')
finally:
    print('always okay')

somtime all right
always okay

In [80]:
ab = 100
try:
    print(ab)
except:
    print('hello')
finally:
    print('finally ok')

100
finally ok

In [81]:
a = -1
if a<0:
    raise Exception('sorry')

Exception: sorry

In [83]:
a = 'hii'
try:
    print(a)
except:
    print('sorry')
finally:
    print('finally')

hii
finally

In [84]:
a = -1
if a<0: raise Exception('no match')

Exception: no match

In [85]:
a =-10
if a<0: raise TypeError('ohh no match')

TypeError: ohh no match

In [ ]:
# string formatting
# we have format method .It is used in print statement

In [92]:
a = 10
b = 'the value is {}'
print(b.format(a))
a = 10
b = 20
c = 'the value is {} and value is {}'
print(c.format(a,b))
x = 10
y = 20
z = 'the value is {:.2f} and value is {}'
print(z.format(x,y))

the value is 10
the value is 10 and value is 20
the value is 10.00 and value is 20

In [93]:
brand = 'ford'
model = 'tata'
a = 'the {car} is best and model is {best}'
print(a.format(car=brand,best=model))

the ford is best and model is tata

In [94]:
# file handling
# file handling is an important concept in python 
# file handling refers to the process of interacting eith files ,including creative files,
# removing files,writing files,deleting files.
# file handling is essential for data storage and exchange in python.

In [97]:
f = open('f1.txt','r')
print(f.read())
print(f.readline())

hi
hello python
good morning
my name is lilithis is new addthis is new addhey come to dubaihey come to dubai

In [98]:
f = open('f2.txt','r')
print(f.read())

In [99]:
d = open('f4.txt','r')
print(d.readline())
print(d.readline())
print(d.readline())

In [100]:
f =open('f1.txt','a')
g = 'this is a new added'
f.write(g)
f.close()

In [101]:
d = open('f4.txt','r')
print(d.readline())
print(d.readline())
print(d.readline())

In [102]:
d= open('f4.txt','r')
print(d.read())

In [104]:
a  = open('f1.txt','r')
print(a.read())

hi
hello python
good morning
my name is lilithis is new addthis is new addhey come to dubaihey come to dubaithis is a new added

In [109]:
f = open('t.txt','x')
g = open('t.txt','r')
print(g.read())

FileExistsError: [Errno 17] File exists: 't.txt'

In [110]:
f = open('f1.txt','r')
print(f.read())
print(f.readline())
for i in f:
    print(i)

hi
hello python
good morning
my name is lilithis is new addthis is new addhey come to dubaihey come to dubaithis is a new added

In [113]:
f = open('f1.txt','a')
g = 'hello'
f.write(g)
f.close()

In [114]:
f = open('f1.txt','x')
g = open('f1.txt','r')
f.write(f)
f.close()

FileExistsError: [Errno 17] File exists: 'f1.txt'

In [115]:
import os
f = open('f1.txt','r')
print(f.read())

hi
hello python
good morning
my name is lilithis is new addthis is new addhey come to dubaihey come to dubaithis is a new addedhellohello

In [117]:
# os.remove('f1.txt')